@media (max-width: 1300px) {
    /* <----------------------------------Row1----------------------------------> */
        
    /* <----------------------------------Row2----------------------------------> */

    /* <----------------------------------Row3----------------------------------> */

    /* <----------------------------------Row4----------------------------------> */

}

@media (min-width: 371px) and (max-width: 1300px) {
    /* <----------------------------------Row1----------------------------------> */
        
    /* <----------------------------------Row2----------------------------------> */

    /* <----------------------------------Row3----------------------------------> */

    /* <----------------------------------Row4----------------------------------> */

}

@media (min-width: 577px) and (max-width: 1300px) {
    /* <----------------------------------Row1----------------------------------> */
        
    /* <----------------------------------Row2----------------------------------> */

    /* <----------------------------------Row3----------------------------------> */

    /* <----------------------------------Row4----------------------------------> */

}

@media (min-width: 769px) and (max-width: 1300px) {
    /* <----------------------------------Row1----------------------------------> */
        
    /* <----------------------------------Row2----------------------------------> */

    /* <----------------------------------Row3----------------------------------> */

    /* <----------------------------------Row4----------------------------------> */

}

@media (min-width: 992px) and (max-width: 1300px) {
    /* <----------------------------------Row1----------------------------------> */
        
    /* <----------------------------------Row2----------------------------------> */

    /* <----------------------------------Row3----------------------------------> */

    /* <----------------------------------Row4----------------------------------> */

}

@media (min-width: 1181px) and (max-width: 1300px) {
    /* <----------------------------------Row1----------------------------------> */
        
    /* <----------------------------------Row2----------------------------------> */

    /* <----------------------------------Row3----------------------------------> */

    /* <----------------------------------Row4----------------------------------> */

}